<footer id="main-footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2>Sobre o Catálogo</h2>
            <p>Seu Catálogo Digital da Papel & Estilo para convites personalizados e itens de papelaria fina. Este catálogo é para uso exclusivo de clientes em período de desenvolvimento de projeto.</p>
            <div class="contact-info">
                <a href="https://maps.app.goo.gl/HffRBdG2mkSVuXQC9" class="contact-link" target="_blank"><span><i class="fas fa-map-marker-alt"></i>Moema, São Paulo - SP</span></a>
                <a href="https://api.whatsapp.com/send?phone=5511950315759" class="contact-link"><span><i class="fas fa-phone"></i> (11) 95031-5759</span></a>
                <a href="mailto:loja@papeleestilo.com.br" class="contact-link"><span><i class="fas fa-envelope"></i>loja@papeleestilo.com.br</span></a>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/PapeleEstilo/?locale=pt_BR" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/papeleestilo/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://br.pinterest.com/papeleestilo/" target="_blank" aria-label="Pinterest"><i class="fab fa-pinterest-p"></i></a>
                <a href="https://www.tiktok.com/@papeleestilo" target="_blank" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>

        <div class="footer-section links">
            <h2>Links Rápidos</h2>
            <ul>
                <li><a href="/index.html">Início</a></li>
                <li><a href="/pages/cores-de-impressao/coresbasicas.html">Cores Básicas de Impressão</a></li>
                <li><a href="/pages/papeis/markatto.html">Papéis Markatto</a></li>
                <li><a href="/pages/acabamentos/lacre-de-cera.html">Acabamento Lacres de Cera</a></li>
                <li><a href="/pages/fontes.html">Fontes</a></li>
                <li><a href="/pages/monogramas.html">Monogramas</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Termos de Uso</a></li>
            </ul>
        </div>

        <div class="footer-section contact">
            <h2>Fale Conosco</h2>
            <ul>
                <li><a href="/pages/faq.html">F.A.Q.</a></li>
                <li><a href="https://papeleestilo.com.br/ajuda-e-suporte-convite/" target="_blank">Ajuda e Suporte</a></li>
                <li><a href="https://papeleestilo.com.br/#como-comprar" target="_blank">Como comprar</a></li>
                <li><a href="https://papeleestilo.com.br/termos-e-condicoes/" target="_blank">Termos e condições</a></li>
            </ul>
        </div>

        <div class="footer-section hours">
            <h2>Horários de funcionamento</h2>
            <p><strong>Loja Online:</strong><br>Segunda à Sexta das 9h às 18h. WhatsApp das 10h às 18h.</p>
            <p><strong>Loja Física:</strong><br>Segunda à Sexta das 10:15h às 19h e aos Sábados das 10h às 15h. Atendimento com horário marcado. Agende o seu.</p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; <span id="current-year"></span> Papel & Estilo - Catálogo Digital | Todos os direitos reservados.<br>
        Desenvolvido por Igor Batista
    </div>
</footer>
