<nav class="main-nav">
    <ul>
        <li><a href="/index.html">Início</a></li>
        <li class="has-submenu">
            <a href="#">Cores de Impressão</a>
            <ul class="submenu">
                <li><a href="/pages/coresdeimpressao.html">Cores básicas</a></li>
                <li><a href="/pages/coresmetalizadas.html">Cores metalizadas</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="#">Papéis</a>
            <ul class="submenu">
                <li><a href="#">Color plus</a></li>
                <li><a href="#">Color plus metal</a></li>
                <li><a href="#">Color plus texturizado</a></li>
                <li><a href="#">Markatto</a></li>
                <li><a href="#">VSP</a></li>
                <li><a href="#">Card plus</a></li>
                <li><a href="#">Materica</a></li>
                <li><a href="#">Fcard</a></li>
                <li><a href="#">Vergê plus</a></li>
                <li><a href="#">Sirio color</a></li>
                <li><a href="#">Nettuno</a></li>
                <li><a href="#">Especiais</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="#">Acabamentos</a>
            <ul class="submenu">
                <li><a href="#">Fita de cetim</a></li>
                <li><a href="#">Fita musseline</a></li>
                <li><a href="#">Cordão encerado</a></li>
                <li><a href="#">Fita de gorgurão</a></li>
                <li><a href="#">Lacre de cera</a></li>
                <li><a href="#">Lacre metálico</a></li>
                <li><a href="#">Lacre acrílico</a></li>
                <li><a href="#">Lacre de papel</a></li>
                <li><a href="#">Botão</a></li>
                <li><a href="#">Ilhós</a></li>
                <li><a href="#">Rebite</a></li>
                <li><a href="#">Mancha de tinta</a></li>
                <li><a href="#">Flor sempre viva</a></li>
                <li><a href="#">Tassel</a></li>
                <li><a href="#">Especiais</a></li>
            </ul>
        </li>
        <li><a href="/pages/fontes.html">Fontes</a></li>
        <li><a href="/pages/brasoes.html">Brasões</a></li>
        <li><a href="/pages/monogramas.html">Monogramas</a></li>
        <li><a href="#">Frases e Mensagens</a></li>
        <li><a href="#">Estampas</a></li>
    </ul>
</nav>
