<header id="main-header">
    <a href="/index.html" class="logo-link">
        <img src="/assets/img/logotipos/Logo-P&E-2048x1379.png" alt="Logotipo do Papel & Estilo" class="logo">
    </a>
<nav class="main-nav">
    <ul>
        <li><a href="/index.html">Início</a></li>
        <li class="has-submenu">
            <a href="#">Cores de Impressão</a>
            <ul class="submenu">
                <li><a href="/pages/cores-de-impressao/coresbasicas.html">Cores básicas</a></li>
                <li><a href="/pages/cores-de-impressao/coresmetalizadas.html">Cores metalizadas</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="#">Papéis</a>
            <ul class="submenu">
                <li><a href="/pages/papeis/color-plus.html">Color plus</a></li>
                <li><a href="/pages/papeis/color-plus-metal.html">Color plus metal</a></li>
                <li><a href="/pages/papeis/color-plus-tx.html">Color plus texturizado</a></li>
                <li><a href="/pages/papeis/markatto.html">Markatto</a></li>
                <li><a href="/pages/papeis/vsp.html">VSP</a></li>
                <li><a href="/pages/papeis/card-plus.html">Card plus</a></li>
                <li><a href="/pages/papeis/materica.html">Materica</a></li>
                <li><a href="/pages/papeis/fcard.html">Fcard</a></li>
                <li><a href="/pages/papeis/verge-plus.html">Vergê plus</a></li>
                <li><a href="/pages/papeis/sirio-color.html">Sirio color</a></li>
                <li><a href="/pages/papeis/nettuno.html">Nettuno</a></li>
                <li><a href="/pages/papeis/especiais.html">Especiais</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="#">Acabamentos</a>
            <ul class="submenu">
                <li><a href="/pages/acabamentos/fita-de-cetim.html">Fita de cetim</a></li>
                <li><a href="/pages/acabamentos/fita-musseline.html">Fita musseline</a></li>
                <li><a href="/pages/acabamentos/cordao-encerado.html">Cordão encerado</a></li>
                <li><a href="/pages/acabamentos/fita-de-gorgurao.html">Fita de gorgurão</a></li>
                <li><a href="/pages/acabamentos/lacre-de-cera.html">Lacre de cera</a></li>
                <li><a href="/pages/acabamentos/lacre-metalico.html">Lacre metálico</a></li>
                <li><a href="/pages/acabamentos/lacre-acrilico.html">Lacre acrílico</a></li>
                <li><a href="/pages/acabamentos/lacre-de-papel.html">Lacre de papel</a></li>
                <li><a href="/pages/acabamentos/botao.html">Botão</a></li>
                <li><a href="/pages/acabamentos/ilhos.html">Ilhós</a></li>
                <li><a href="/pages/acabamentos/rebite.html">Rebite</a></li>
                <li><a href="/pages/acabamentos/mancha-de-tinta.html">Mancha de tinta</a></li>
                <li><a href="/pages/acabamentos/flor-sempre-viva.html">Flor sempre viva</a></li>
                <li><a href="/pages/acabamentos/tassel.html">Tassel</a></li>
                <li><a href="/pages/acabamentos/especiais.html">Especiais</a></li>
            </ul>
        </li>
        <li><a href="/pages/fontes.html">Fontes</a></li>
        <li><a href="/pages/brasoes.html">Brasões</a></li>
        <li><a href="/pages/monogramas.html">Monogramas</a></li>
        <li><a href="/pages/frases-e-mensagens.html">Frases e Mensagens</a></li>
        <li><a href="/pages/estampas.html">Estampas</a></li>
    </ul>
</nav>
</header>
